<script type="text/html" id="pullRequestsView">

    <button class="btn btn-primary" data-toggle="modal" data-target="#modalStatistic">Statistic</button>

    <div class="row">
        <div class="btn-group" data-toggle="buttons" data-bind="foreach: filters">
            <label class="btn btn-primary" data-bind="click: $parent.setActiveFilter">
                <input type="radio" name="options" />
                <span data-bind="text: title"></span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <select class="col-md-2 form-control" data-bind="options: headers, value: propertyForFilters, optionsText: 'title', optionsValue: 'sortPropertyName'"></select>
        </div>
        <div class="col-xs-6">
            <input class="col-md-3 form-control" type="text" data-bind="textInput: textForFilters" />
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr class="text-info" data-bind="foreach: headers">
                    <th data-bind="click: function (data) { $parent.sort(data) }">                            
                        <span data-bind="text: title"></span>
                        <!--Переделать биндинг-->
                        <span class="iconSort glyphicon glyphicon-sort text-muted " data-bind="visible: status() == 0"></span>
                        <span class="iconSort glyphicon glyphicon-sort-by-attributes" data-bind="visible: status() == 1"></span>
                        <span class="iconSort glyphicon glyphicon-sort-by-attributes-alt" data-bind="visible: status() == -1"></span>
                    </th>
                </tr>
            </thead>

            <tbody data-bind="foreach: pullRequests">
                <tr class="text-left" data-toggle="modal" data-target="#myModal" data-bind="click: $parent.setPullRequest">
                    <td data-bind="attr: { 'title': titleMinVote }">
                        <span class="glyphicon glyphicon-ok-sign text-success" data-bind="visible: minVote() == 10"></span>
                        <span class="glyphicon glyphicon-remove-sign text-danger" data-bind="visible: minVote() == -10"></span>
                        <span class="glyphicon glyphicon-question-sign text-info" data-bind="visible: minVote() == 0"></span>
                    </td>
                    <td class="col-md-4">
                        <a class="text-primary" data-bind="text: title, attr: { href: url }" target="_blank"></a>
                    </td>
                    <td class="col-md-1">
                        <a data-bind="text: repositoryName, attr: { href: repositoryUrl }" target="_blank"></a>
                    </td>
                    <td class="col-md-2" data-bind="text: createdByDisplayName"></td>
                    <td class="col-md-2" data-bind="text: creationDateToText"></td>
                    <td class="col-md-2" data-bind="text: updateToText"></td>
                    <td>
                        <a data-bind="text: statusName, attr: { href: issueUrl }" target="_blank"></a>
                    </td>
                    <td class="col-md-1" data-bind="text: priorityName"></td>
                    <td class="col-md-1" data-bind="text: issueTypeName"></td>

                </tr>
            </tbody>
        </table>
        <div class="col-xs-2">
            <input class="form-control" placeholder="Count records" data-bind="value: countRecords" />
        </div>

        <div class="btn-group" data-toggle="buttons" data-bind="foreach: numberOfPagesButton">
            <label class="btn btn-success" data-bind="click: $parent.setPage">
                <input type="radio" name="options" />
                <span data-bind="text: num"></span>
            </label>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" data-bind="with: chosenPullRequest">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" data-bind="text: title"></h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>Repository</label>: <span data-bind="text: repositoryName"></span>
                    </p>
                    <p>
                        <label>Created By</label>: <span data-bind="text: createdByDisplayName"></span>
                    </p>
                    <p>
                        <label>Creation Date</label>: <span data-bind="text: creationDate"></span>
                    </p>
                    <p>
                        <label>SourceRefName</label>: <span data-bind="text: sourceRefName"></span>
                    </p>
                    <p>
                        <label>TargetRefName</label>: <span data-bind="text: targetRefName"></span>
                    </p>
                    <p>
                        <label>Merge Status</label>: <span data-bind="text: mergeStatus"></span>
                    </p>
                    <p>
                        <label>Description</label>: <span data-bind="text: description"></span>
                    </p>

                    <table class="table">
                        <caption>Reviewers</caption>
                        <thead>
                            <tr>
                                <th>Display Name</th>
                                <th>Title Vote</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: reviewers">
                            <tr>
                                <td data-bind="text: displayName"></td>
                                <td data-bind="text: titleVote"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <caption>Commits (top 10)</caption>
                        <thead>
                            <tr>
                                <th>Push date</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: commits">
                            <tr>
                                <td data-bind="text: pushDate"></td>
                                <td data-bind="text: comment"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <caption>Builds</caption>
                        <thead>
                            <tr>
                                <th>buildTypeId</th>
                                <th>state</th>
                                <th>status</th>
                                <th>Status text</th>
                                <th>Start date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: builds">
                            <tr>
                                <td>
                                    <a data-bind="text: buildTypeId, attr: { href: webUrl }" target="_blank"></a>
                                </td>
                                <td data-bind="text: state"></td>
                                <td data-bind="text: status"></td>
                                <td data-bind="text: statusText"></td>
                                <td data-bind="text: startDate"></td>
                                <td data-bind="text: time"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalStatistic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Statistic</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4" data-bind="foreach: statistic">
                            <a data-bind="text: title"></a>:<a data-bind="    text: count"></a><br />
                        </div>
                        <div class="col-md-4">
                            <canvas id="pie" height="300" width="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</script>

